<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>E-Shopping</title>
</head>
<body>
	<table align="center">
		<thead>
			<tr>
			<th>Id</th>
			<th>Product Name</th>
			<th>Description</th>
			<th>Image</th>
			<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cart : ${carts}">
				<td><span th:text="${product.id}"></span></td>
				<td><a th:href="@{'/remove_cart_item?id='+${cart.id}}">Remove</a></td>
			</tr>
		</tbody>
	</table>
	<a href="/view_products">Continue Shopping</a>
</body>
</html>